asyncpg==0.29.0                     # PostgreSQL adapter for asynchronous operations
fastapi==0.111.0
pydantic==2.7.4
redis==5.0.8
SQLAlchemy[asyncio]==2.0.32         # [asyncio] allows greenlet to be installed on Apple M1 devices.
sqlalchemy-utils == 0.41.2
uvicorn[standard]==0.30.6
